<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="payment" class="com.springCore.Payment">
        <property name="method" value="upi"/>
    </bean>


<!--    by constructor Injection-->
<!--    <bean name="order" class="com.springCore.Order" >-->
<!--        <constructor-arg ref="payment"/>-->
<!--    </bean>-->

<!--  autowire by name  -->
<!--    <bean name="order" class="com.springCore.Order" autowire="byName"/>-->

    <bean name="order" class="com.springCore.Order" autowire="byType"/>


</beans>